In [1]:
# Creating Reading and Writing

import pandas as pd

# CREATING DATA Using a DataFrame
# The keys are the columns while the values are the rows [Dictionary]
pd.DataFrame({'Yes': [50, 21], "No": [123, 45]})

   Yes   No
0   50  123
1   21   45

In [2]:
pd.DataFrame({'Bob': ['I love girls', ' I love ladies'], 'Alice': ['I love boys', 'I love gentlemen']})

              Bob             Alice
0    I love girls       I love boys
1   I love ladies  I love gentlemen

In [3]:
# Labelling the rows using the index parameter 
pd.DataFrame({'Bob': ['PS5 is my fav even', ' Too many feelings'], 'Alice': ['So boyish', 'Cinderella my fav even']}, index=['Video Games','Love Stories'])

                             Bob                   Alice
Video Games   PS5 is my fav even               So boyish
Love Stories   Too many feelings  Cinderella my fav even

In [5]:
# CREATING data using series. Just a list of values, more like a column in a DataFrame
pd.Series([10,32,56,43,68,96])

0    10
1    32
2    56
3    43
4    68
5    96
dtype: int64

In [6]:
# Labelling the rows of the series
pd.Series([12000, 55000, 125000], index=['Sugar', 'Shoes', 'Home Theatre'], name='Shopping List')

Sugar            12000
Shoes            55000
Home Theatre    125000
Name: Shopping List, dtype: int64

In [7]:
# Reading Files to create dataFrames

wine_reviews = pd.read_csv('winemag-data_first150k.csv')

In [8]:
wine_reviews.shape

(150930, 11)

In [9]:
wine_reviews.head

<bound method NDFrame.head of         Unnamed: 0 country                                        description  \
0                0      US  This tremendous 100% varietal wine hails from ...
1                1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2                2      US  Mac Watson honors the memory of a wine once ma...
3                3      US  This spent 20 months in 30% new French oak, an...
4                4  France  This is the top wine from La Bégude, named aft...
...            ...     ...                                                ...
150925      150925   Italy  Many people feel Fiano represents southern Ita...
150926      150926  France  Offers an intriguing nose with ginger, lime an...
150927      150927   Italy  This classic example comes from a cru vineyard...
150928      150928  France  A perfect salmon shade, with scents of peaches...
150929      150929   Italy  More Pinot Grigios should taste like this. A r...

                                 designation  points  price  \
0                          Martha's Vineyard      96  235.0
1       Carodorum Selección Especial Reserva      96  110.0
2              Special Selected Late Harvest      96   90.0
3                                    Reserve      96   65.0
4                                 La Brûlade      95   66.0
...                                      ...     ...    ...
150925                                   NaN      91   20.0
150926                        Cuvée Prestige      91   27.0
150927                         Terre di Dora      91   20.0
150928                       Grand Brut Rosé      90   52.0
150929                                   NaN      90   15.0

                  province           region_1           region_2  \
0               California        Napa Valley               Napa
1           Northern Spain               Toro                NaN
2               California     Knights Valley             Sonoma
3                   Oregon  Willamette Valley  Willamette Valley
4                 Provence             Bandol                NaN
...                    ...                ...                ...
150925      Southern Italy  Fiano di Avellino                NaN
150926           Champagne          Champagne                NaN
150927      Southern Italy  Fiano di Avellino                NaN
150928           Champagne          Champagne                NaN
150929  Northeastern Italy         Alto Adige                NaN

                   variety                   winery
0       Cabernet Sauvignon                    Heitz
1            Tinta de Toro  Bodega Carmen Rodríguez
2          Sauvignon Blanc                 Macauley
3               Pinot Noir                    Ponzi
4       Provence red blend     Domaine de la Bégude
...                    ...                      ...
150925         White Blend    Feudi di San Gregorio
150926     Champagne Blend                H.Germain
150927         White Blend                Terredora
150928     Champagne Blend                   Gosset
150929        Pinot Grigio            Alois Lageder

[150930 rows x 11 columns]>

In [10]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [13]:
# Making a given column the index
better_wine_reviews = pd.read_csv('./winemag-data_first150k.csv', index_col=0)
better_wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [14]:
# Saving the DataFrame to disk in csv format
better_wine_reviews.to_csv('wine_reviews.csv')