In [1]:
import pandas as pd

In [2]:
melbourne_file_path = './melb_data.csv/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)

In [3]:
melbourne_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
melbourne_data = melbourne_data.dropna(axis=0)

In [5]:
y = melbourne_data.Price

In [6]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [7]:
X = melbourne_data[melbourne_features]

In [8]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [10]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [11]:
X.tail()

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
15388      3       2.0     972.0  -37.51232   145.13282
15389      3       1.0     179.0  -37.86558   144.90474
15390      1       1.0       0.0  -37.85588   144.89936
15392      2       1.0       0.0  -37.85581   144.99025
15395      6       3.0    1087.0  -37.81038   144.89389

In [13]:
X.head(15)

    Rooms  Bathroom  Landsize  Lattitude  Longtitude
1       2       1.0     156.0   -37.8079    144.9934
2       3       2.0     134.0   -37.8093    144.9944
4       4       1.0     120.0   -37.8072    144.9941
6       3       2.0     245.0   -37.8024    144.9993
7       2       1.0     256.0   -37.8060    144.9954
11      2       1.0     220.0   -37.8010    144.9989
16      3       2.0     214.0   -37.8085    144.9964
17      2       2.0       0.0   -37.8078    144.9965
22      2       1.0     238.0   -37.8090    144.9976
23      3       2.0     113.0   -37.8056    144.9930
25      3       1.0     138.0   -37.8021    144.9965
27      2       1.0     150.0   -37.8011    145.0004
28      4       2.0     780.0   -37.8073    144.9952
31      2       1.0       0.0   -37.8015    144.9972
32      2       2.0     124.0   -37.8079    144.9977

In [14]:
from sklearn.tree import DecisionTreeRegressor

In [15]:
melbourne_model = DecisionTreeRegressor(random_state = 1)

In [16]:
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [17]:
print("Making predictions for the first 5 houses")
print(X.head())
print("The predictions are ...")
print(melbourne_model.predict(X.head()))

Making predictions for the first 5 houses
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are ...
[1035000. 1465000. 1600000. 1876000. 1636000.]